/*

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.mainPictures {
    overflow: hidden;
    padding: 50px 0 0 0;
    white-space: nowrap;
    position: relative;
}

.mainPictures::after,
.mainPictures::before {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.mainPictures::before {
    left: 0;
    background: linear-gradient(to left, rgb(22, 22, 27, 0), rgb(22, 22, 27));
}

.mainPictures::after {
    right: 0;
    background: linear-gradient(to right, rgb(29, 38, 40, 0), rgb(29, 38, 40));
}

.mainPicturesSlide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.mainPicturesSlide img {
    height: 150px;
    width: 150px;
    margin: 0 40px;
}

.zoomImage:hover {
    transform: scale(1.2);
    transition: 1s;
}

@media (max-width:850px) {


    .mainPictures {
        overflow: hidden;
        padding: 50px 0 0 0;
        white-space: nowrap;
        position: relative;
    }

    .mainPictures::after,
    .mainPictures::before {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
    }

    .mainPictures::before {
        left: 0;
        background: none;
    }

    .mainPictures::after {
        right: 0;
        background: none;
    }




}

*/